CL_Images
CL_Sounds
gothoom
*.log
settings.json
characters.json
binaries/*.zip
cpu.svg
stats.json
internalimages*
tree.json
.pcapng
.gocache
.gomodcache
Players.xml
GT_Players.xml
ClanLord.xml
.gobin/staticcheck
