CL_Images
CL_Sounds
gothoom
gothoom.exe
*.syso
*.ico
*.log
settings.json
!script-template/.vscode/settings.json
characters.json
binaries/*.zip
cpu.svg
stats.json
internalimages*
tree.json
.pcapng
.gocache
.gomodcache
Players.xml
ClanLord.xml
.gobin/staticcheck
source/data/Screenshots/
GT_Players.json
*.sf2
music_*.wav
*.pem
source/data/*.gz
source/data/global-hotkeys.json
source/data/Macros/Library/enabled.json
source/data/piper
*.icns
gt.zip
source/data/scripts
dump/
Text Logs/
gothoom_deps.tar.gz
spellcheck_words.txt
*.wav
!source/data/audio/*.wav
.gocache-local/
source/data/Movies/*.clMov
go/mod/cache/
go/mod/
source/go/mod/cache/
source/go/mod/
/themes/
/source/themes/
.VSCodeCounter/
source/data/shortcuts/
source/data/Movies/
binaries/goThoom-Web/
.gomodcache_tmp/*
.cache/
go/.gomodcache_tmp/
